<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
</head>
<body>
    <h1>Users</h1>
    <ul id="user-list">
        {% for user in users %}
            <li>ID: {{ user[0] }}, Name: {{ user[1] }}</li>
        {% endfor %}
    </ul>
    <h2>Add User</h2>
    <form action="/add_user" method="post">
        <input type="text" name="id" placeholder="ID" required>
        <input type="text" name="name" placeholder="Name" required>
        <button type="submit">Add User</button>
    </form>

    <h2>Navigate to Other Services</h2>
    <ul>
        <li><a href="http://localhost:5002">Product Service</a></li>
        <li><a href="http://localhost:5003">Order Service</a></li>
    </ul>
</body>
</html>
