<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Service</title>
</head>
<body>
    <h1>User Service</h1>
    <h2>Users</h2>
    <ul>
        {% for user in users %}
            <li>ID: {{ user[0] }}, Name: {{ user[1] }}</li>
        {% endfor %}
    </ul>

    <h2>Add User</h2>
    <form action="/create_user" method="post">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Add User</button>
    </form>

    <h2>Products</h2>
    <a href="/products">View Products</a>
    <h2>Add Product</h2>
    <form action="/add_product" method="post">
        <label for="product_id">Product ID:</label>
        <input type="text" id="product_id" name="id" required>
        <label for="product_name">Product Name:</label>
        <input type="text" id="product_id" name="id" required>
        <label for="product_price">Product Price</label>
        <input type="text" id="product_price" name="price" required>
        <button type="submit">Add Product</button>
    </form>

    <h2>Orders</h2>
    <a href="/orders">View Orders</a>
    <h2>Add Order</h2>
    <form action="/add_order" method="post">
        <label for="user_id">User ID:</label>
        <input type="text" id="user_id" name="id" required>
        
        <label for="product_id">product ID:</label>
        <input type="text" id="product_id" name="product_id" required>

        <label for="quantity">product ID:</label>
        <input type="text" id="quantity" name="quantity" required>

        <button type="submit">Add Order</button>
    </form>
</body>
</html>
